PUBLIC_SITE_URL=https://nurseeplus.com
PUBLIC_API_URL=https://nurseeplus.gonext.tech/api/v1
PUBLIC_ADMIN_URL=https://nurseeplus.gonext.tech
PUBLIC_CONTACT_EMAIL=
PUBLIC_CONTACT_PHONE=
PUBLIC_CONTACT_WHATSAPP=
PUBLIC_APP_STORE_URL=
PUBLIC_PLAY_STORE_URL=
PUBLIC_INSTAGRAM_URL=
PUBLIC_FACEBOOK_URL=
